<!-- Sidebar -->
<nav id="sidebarMenu" [style.display]="display" class="sidebar">
  <div class="lst">
    <a routerLink="/inicio" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Inicio</span>
    </a>
    <a routerLink="/registro" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Registro</span>
    </a>
    <a routerLink="/consultar" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-chart-area fa-fw me-3"></i><span>Consultar</span>
    </a>
    <a routerLink="/modificar" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-lock fa-fw me-3"></i><span>Modificar</span>
    </a>
    <a routerLink="/eliminar" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-lock fa-fw me-3"></i><span>Eliminar</span>
    </a>
    <a routerLink="/Cerrar sesion" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-lock fa-fw me-3"></i><span>Cerrar sesion</span>
    </a>
  </div>
</nav>
<!-- Sidebar -->
