<div class="contain">
  <form>
    <div class="from-row">
      <div class="form-group">
        <label for="exampleInputEmail1">Documento</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Número documento">
        <small id="emailHelp" class="form-text text-muted">Ingrese el número de su documento.</small>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Nombre">
        <small id="emailHelp" class="form-text text-muted">Ingrese nombre completo.</small>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlSelect1">Sexo</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="femenino">Femenino</option>
              <option value="masculino">Masculino</option>
              <option value="otro">Otro</option>
            </select>
          </div>
          <div class="col">
            <label for="exampleInputEmail1"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Otro" disabled>
            <small id="emailHelp" class="form-text text-muted">Ingrese nombre del genero.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="exampleInputEmail1">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-md-2">
            <label for="exampleInputEmail1">¿Tiene hijos?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">No</label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="exampleInputEmail1">Cantidad</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Nombre">
        <small id="emailHelp" class="form-text text-muted">Ingrese nombre hijo #.</small>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlSelect1">Estado civil</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Casado</option>
              <option>Soltero</option>
              <option>Unión libre</option>
            </select>
          </div>
          <div class="col">
            <label for="exampleInputEmail1"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Unión libre" disabled>
            <small id="emailHelp" class="form-text text-muted">Ingrese el nombre del conyugue</small>
          </div>
        </div>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleInputEmail1">¿Trabaja?</label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">No</label>
            </div>
          </div>
          <div class="col">
            <label for="exampleInputEmail1">Nombre del trabjo</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword6">Estrato</label>
      <input type="number" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      <small id="passwordHelpInline" class="text-muted">
        Tiene derecho a matricula cero.
      </small>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlSelect1">Departamento de residencia</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Departamento1</option>
              <option>Departamento2</option>              
            </select>
          </div>      
        </div>
      </div>
    </div>
    <div class="from-row">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlSelect1">Ciudad de residencia</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Ciudad1</option>
              <option>Ciudad2</option>              
            </select>
          </div>      
        </div>
      </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
